<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
	<form action="/result" method="POST">
		<div>
			<label for="id">Enter User ID: </label>
			<input type="text" name="id" placeholder="User ID">
		</div>
		<div>
			<label for="moviename">Enter Movie Name: </label>
			<input type="text" name="moviename" placeholder="Movie Name">
		</div>
		<input type="submit" onclick="$('#loading').show();">
	</form>

	<div id="loading" style="display:none"><img src="/static/images/loading.gif" alt="Image NA"></div>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</body>
</html>